.header{
    text-align: center;
}

tr{
    width: 600px;
    height: 200px;
}
table{
    margin: 0 auto;
}
td{
    border: 3px solid black;
    width: 200px;
    height: 200px;
}
img{
    width: 200px;
    height: 200px;
}